# Python
.venv/
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Power BI temporary/backup files
*.pbit
~$*.pbix

# OS files
.DS_Store
Thumbs.db

# Python tooling
.pytest_cache/
.mypy_cache/

# Local environment
.env